* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#output {
  width: 100%;
  background-color: lightgrey;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  font-weight: bold;
  overflow: auto;
}
#error,
#success {
  display: none;
  margin: 20px;
}
